* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    width: 700px;
    margin: 0 auto;
}
.slide_wrapper{
    position: relative;
    width: 660px;
    overflow: hidden;
    padding-top: 200px;
    left: 50%;
    transform: translateX(-50%);
}
.slides{
    position: absolute;
    left: 0; top: 0;
    height: 200px;
    width: 100%;
}
.slides.animated{
    transition: 0.5s ease-out;
}
.slides li{
    width: 200px;
    height: 200px;
    background: #ccc;
    position: absolute;
}
.controls{
    text-align: center;
    margin-top: 50px;
}
.controls span{
    background: rgb(167, 137, 137);
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}