@charset "utf-8";

* {padding:0;margin:0;vertical-align:middle;}
html, body {width:100%; height:100%;}
html {overflow-y:scroll;}
body {font:normal 14px/1 'Nanum Gothic','sans-serif';color:#555;background:#fff;}
header,main,footer,section,article,nav,aside {display:block;}
h1,h2,h3,h4,h5,h6 {font-size:14px;font-weight:normal;}
i,em,address {font-style:normal;}
ul,li {list-style:none;}
.clearfix:after {content:'';display:block;clear:both;}
